@using RecipeBook.Shared.Models


    <div class="recipe-item shadow-custom">
        <div class="card recipe-item shadow-custom" >
            <img class="card-img-top" src="@Recipe.IconURL" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Recipe.Title</h5>
                <p class="card-text">@Recipe.Description</p>
                <p class="card-text"><small class="text-muted">Posted On: @Recipe.DateCreated.ToString("MM/dd/yyyy hh:mm tt")</small></p>
                <a href="/recipe/@Recipe.Id" class="stretched-link"></a>
            </div>
        </div>
    </div>





@code {

    [Parameter] public Recipe Recipe { get; set; }

    protected override void OnInitialized()
    {
        if(Recipe.Description.Length > 50) {
            Recipe.Description = Recipe.Description.Substring(0, 50) + "...";
        }
    }
}
