@page "/CreateRecipe"
@using RecipeBook.Shared.Models
@inject HttpClient http
@inject NavigationManager nav
@using RecipeBook.Client.Shared.Components



<h1 class="text-center mb-4">Create Recipe</h1>

<RecipeEditForm Submitted="AddNewRecipe" Recipe="recipe"></RecipeEditForm>

@code {

    Recipe recipe = new Recipe();

    async void AddNewRecipe(Recipe recipe)
    {
        await http.PostJsonAsync<Recipe>("/api/recipes", recipe);
        nav.NavigateTo("/");
     }

}
