@page "/"
@inject HttpClient http
@using RecipeBook.Shared.Models
@using RecipeBook.Client.Shared.Components

<div class="pb-3 form-inline ">
    <Search Classes="form-control col-12 m-auto" SearchSent="SearchRecipes"></Search>
</div>

@if (recipes == null)
{
    <RecipeBook.Client.Shared.Components.Loading />
}
else
{
    <ul class="recipe-items">
        @foreach (var recipe in recipes)
        {
            <RecipeCard Recipe="recipe"></RecipeCard>
        }
    </ul>


}


@code{


    List<Recipe> recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await http.GetJsonAsync<List<Recipe>>("/api/recipes");
    }

    private async Task SearchRecipes(string query)
    {
        recipes = await http.GetJsonAsync<List<Recipe>>($"/api/recipes/search?searchTerm={query}");
    }
}