@page "/"
@page "/login"
@layout EmptyLayout
@using System;
@using System.Text;
@using System.Security.Cryptography;
@inject HttpClient http
@using RecipeBook.Shared.Models
@inject NavigationManager nm
@inject ILoginService loginService 


    <div class="loginPanel">
        <img class="d-block" src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Food-Dome-icon.png" height="50" />
        <p class="sign" align="center">Sign in</p>
        <EditForm Model="UserInfo" OnValidSubmit="SignIn">
            <form class="form1 text-center">
                <DataAnnotationsValidator />
                <ValidationMessage For="(() => UserInfo.Email)" />
                <InputText @bind-Value="UserInfo.Email" class="un " type="email" align="center" placeholder="Email" />
                <ValidationMessage For="(() => UserInfo.Password)" />
                <InputText @bind-Value="UserInfo.Password" class="pass" type="password" align="center" placeholder="Password" />
                <div class="btn-group text-center">
                    <button type="submit" class="submit register" align="center">Sign in</button>
                    <a href="/register" class="submit register" align="center">Register</a>
                </div>
                <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
            </form>
        </EditForm>
    </div>

@code {

    public UserInfo UserInfo { get; set; } = new UserInfo();

    async Task SignIn()
    {

        var result = await http.PostJsonAsync<UserToken>("api/accounts/login", UserInfo);
        await loginService.SignIn(result.Token);
        nm.NavigateTo("/search");
    }


}
