@page "/"
@layout EmptyLayout

<div class="loginPanel">
    <img class="d-block" src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Food-Dome-icon.png" height="50"/>
    <p  class="sign" align="center">Sign in</p>
    <form class="form1">
        <input class="un " type="text" align="center" placeholder="Username">
        <input class="pass" type="password" align="center" placeholder="Password">
        <a @onclick="SignIn" class="submit" align="center">Sign in</a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
    </form>
</div>
@code {
     

    async Task SignIn()
    {

    }
}
