@page "/register"
@layout EmptyLayout
@using System;
@using System.Text;
@using System.Security.Cryptography;
@using RecipeBook.Shared.Models  
@inject HttpClient http
@inject NavigationManager nm
@inject ILoginService loginService

<div class="loginPanel">
    <img class="d-block" src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Food-Dome-icon.png" height="50" />
    <p class="sign" align="center">Register New Account</p>
    <EditForm Model="UserInfo" OnValidSubmit="RegisterUser">
        <form class="form1 text-center">
            <DataAnnotationsValidator />
            <ValidationMessage For="(() => UserInfo.Email)" />
            <InputText @bind-Value="UserInfo.Email" class="un " type="email" align="center" placeholder="Email" />
            <ValidationMessage For="(() => UserInfo.Password)" />
            <InputText @bind-Value="UserInfo.Password" class="pass" type="password" align="center" placeholder="Password" />
            <button type="submit" href="#" class="submit register" align="center">Register</button>
            <p class="forgot" align="center"><a href="/login">Back to Login</a></p>
        </form>
    </EditForm>
</div>

<h3>@resultString</h3>

@code {

    public UserInfo UserInfo { get; set; } = new UserInfo();

    string resultString;

    async Task RegisterUser()
    {

        var result = await http.PostJsonAsync<UserToken>("/api/Accounts/Create", UserInfo);

        await loginService.SignIn(result.Token);


        nm.NavigateTo("/search");
    }


}
