@inherits LayoutComponentBase

<div class="main">
    <!-- Image and text -->
    <nav class="navbar nav-custom text-center">
        <a class="navbar-brand" href="#">
            <img src="http://www.iconarchive.com/download/i99452/webalys/kameleon.pics/Food-Dome.ico" width="60" height="60" class="" alt="">
        </a>
    </nav>

    <div class="content px-4">
        @Body
    </div>
</div>
