@inherits LayoutComponentBase

<div class="main">
    <!-- Image and text -->
    <nav class="navbar nav-custom text-center">
        <a class="" href="#">
            <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Food-Dome-icon.png" width="60" height="60" class="m-auto" alt="">
        </a>
        <a href="/createrecipe" class="btn btn-custom float-right">Create New</a>
    </nav>

    <div class="content px-4">
        @Body
    </div>
</div>
